.background {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 1416.67px;
  width: 100%;

  background-color: #525659;
}
@media print {
  .background {
    align-items: flex-start;
    height: 0;
  }
}
.canvas {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 35.56cm;
  /* height: 14in; */
  width: 21.59cm;
  /* width: 8.5in; */

  background-color: white;
}
.page,
.personal-info,
.resume {
  border-color: hsla(0, 0%, 0%, 0.0625);
  border-style: solid;
  border-radius: 12px;
}
.page {
  display: flex;

  height: 34.31cm;
  max-height: 34.31cm;
  min-height: 34.31cm;

  width: 20.34cm;
  max-width: 20.34cm;
  min-width: 20.34cm;

  border-width: 1px;

  background-color: white;
  position: relative;
  box-shadow: 15px 15px 15px 0px hsla(0, 0%, 0%, 0.275);
}
.personal-info {
  width: 302.5px;
  max-width: 302.5px;
  min-width: 302.5px;

  height: 100%;

  border-width: 0px;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  background-color: #343d4b;

  color: hsla(0, 0%, 100%, 0.9);
}
.resume {
  width: 100%;
  height: 100%;

  border-width: 0px;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  background-color: white;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 25px;
  padding-right: 20px;

  margin-top: 0px;
}
.header > hr {
  margin: 0;

  margin-left: 0px;

  width: 100%;

  margin-top: 6px;
}
.title {
  font-size: 21.5px;
  font-weight: 700;

  margin: 0;
  margin-top: 8px;
}
.paragraphs {
  font-size: 14px;
  font-weight: 500;

  margin: 0;
  margin-top: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: end;

  margin-left: -29px;

  width: 100%;
}
.section {
  width: 380px;
}
.content {
  display: flex;
  flex-direction: column;

  width: 525px;
}
.experiences {
  display: flex;
  justify-content: space-between;

  margin-top: 9px;
}
.date {
  width: 160px;
}
.date > span {
  display: inline-block;

  width: 80px;

  margin-top: -5px;

  font-style: italic;
  font-size: 14px;
  font-weight: 500;
}
.experience,
.role,
.key-responsibilities {
  margin: 0;

  font-size: 16.5px;
  font-weight: 500;
}
.experience {
  font-weight: 700;
  margin-top: -6px;
}
.role {
  margin-top: -2px;
}
.key-responsibilities {
  font-weight: 600;
  margin-top: -2px;
}
.list {
  margin: 0;
  margin-left: -20px;
}
.list > li {
  margin: 0;
}
.bookmark-line {
  width: 1px;
  height: 1125px;

  margin-top: 15.5px;
  margin-left: 25px;

  position: absolute;

  border-right: 1px solid hsl(225, 4%, 61%);
}
.bookmark {
  width: 35px;
  height: 25px;

  margin-left: -10px;

  position: absolute;

  background-color: hsl(222, 15%, 22%);

  clip-path: polygon(0 0, 100% 0, 75% 50%, 100% 100%, 0 100%, 0% 50%);
}
.shadow {
  width: 11px;
  height: 10px;

  margin-top: 25px;
  margin-left: -10px;

  position: absolute;

  background-color: hsl(222, 15%, 12%);

  clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.pfp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.frame {
  width: 250px;
  height: 250px;

  margin-top: 21px;

  overflow: hidden;

  border-width: 5px;
  border-color: white;
  border-style: solid;

  border-radius: 12px;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.frame > img {
  object-fit: cover;

  width: 300px;
  height: 425px;
}
.name {
  text-align: center;
}
.name > h1 {
  font-size: 24px;
  font-weight: 500;

  margin: 0px;
}
.name > h1:first-of-type {
  margin: 10px 0;
}
.name > h1:last-of-type {
  color: hsla(0, 0%, 100%, 0.6);
}
.aside {
  width: 250px;

  margin-left: 26px;
}
.aside-title {
  margin: 0;
  margin-top: 12px;

  font-weight: 500;
}
.aside > h3 {
  margin: 0;

  font-weight: 300;
}
.aside > span,
.aside > a {
  margin: 0;

  font-weight: 200;

  color: white;
}
.bar {
  width: 250px;
  height: 9px;

  border-radius: 3px;

  background-color: #9abc3c;
}
.sticks {
  width: 250px;
  height: 9px;

  position: absolute;

  border-radius: 3px;

  background: repeating-linear-gradient(
    -45deg,
    hsl(76, 49%, 56%),
    hsl(76, 49%, 56%) 5px,
    hsla(0, 53%, 93%, 0) 5px,
    hsla(0, 53%, 93%, 0) 10px
  );
}
.skill {
  display: block;
  width: 250px;
  line-height: 9px;
}
.skill > h6 {
  display: inline;
  margin: 0;
  font-size: 10px;
  font-weight: 500;
}
.skill > span {
  display: inline;
  margin: 0;
  font-size: 10px;
  font-weight: 300;
}
